@inherits LayoutComponentBase

<div class="largura">
    <div class="header">qurlify</div>
    <div class="page">
        <main>            
                @Body            
        </main>
    </div>
</div>
