@inherits LayoutComponentBase

<div class="largura">
    <div class="header"><a href="https://qurlify.me" id="q">qurlify</a></div>
    <div class="page">
        <main>            
                @Body            
        </main>
    </div>
</div>
