.container {
    display: flex;
    flex-direction: column;
    gap: var(--base-size-20);
    background-color: rgba(0, 0, 0, .8) ;
    border-radius: 1.5rem;
    padding: 72px;
    margin-top:45px;
}

input[type="text"],
textarea {
    background-color: rgba(30,30,30,.8);
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 0 30px;
    margin: 20px 0;
    color: #888;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
}

input[type="text"] {
    min-height: 40px;
}

input[type="text"]::placeholder,
textarea::placeholder {
    color:#888;
}


textarea {
    min-height: 100px;
    padding: 10px 30px; 
}

.button-container {
    text-align: right;
    margin-top: 10px;
}

.shorten-button {
    background-color: #007bff; 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 0 20px;
    font-size: 16px;
    min-height: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.shorten-button:hover {
    background-color: #0056b3; 
}