@page "/"

<PageTitle>qurlify</PageTitle>

<div class="container">
<h1>The social URL shortener</h1>

<span>Create shorter URLs that are easier to share. Add your own comment to the content you're sharing. QR codes coming soon!</span>
</div>
<div class="container">
<input type="text" placeholder="Enter or paste URL here">
<textarea placeholder="Go ahead and leave a comment. The person who opens the link will see it"></textarea>
<div class="button-container">
    <button class="shorten-button">Shorten</button>
</div>
</div>